* {
    margin: 0px;
    padding: 3px;
    max-width: 1200;
}

body {
    font-family: 'Merriweather', serif;
}

a {
    text-decoration: none;
}

.padre {
    display: flex;
    flex-flow: column nowrap;
}

.header {
    background: url(../images/header.jpg);
    justify-content: center;
    background-position: center;
    background-attachment: contain;
    background-size: cover;
    display: flex;
    flex-flow: column nowrap;
    padding: 5px 1;
}

.header .logo img {
    height: 70px;
    width: auto;
    margin-top: -50px;
    animation: moverIzquierda 1s ease-in;
}

.header .logo img:hover {
    transform: scale(1.1);
}

.menu {
    background: rgba(0, 0, 0, 0);
    display: flex;
    flex-flow: row nowrap;
    height: 100px;
    padding-top: 50px;
    padding-bottom: 60px;
}

.logo {
    flex: 1 1 auto;
}

.nav {
    flex: 1 1 auto;
}

.nav a {
    color: #5e5b52;
    margin-right: 70px;
}

.nav a:hover {
    color: #aa0707;
}

.social {
    flex: 1 1 auto;
    display: flex;
    animation: moverDerecha 1s ease-in;

}

.social a {
    color: #5e5b52;
}

.social a:hover {
    color: #aa0707;
}

.texto-principal {
    opacity: 0.5;
    margin-inline-start: 100px;
    margin-inline-end: 100px;
    margin-block-start: -10px;
    margin-block-end: -2px;
    background: rgba(173, 172, 172, 0.603);
}

h1 {
    font-family: 'Merriweather';
    color: #ff9500;
    font-size: 25px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 35px;
    animation: aparecer 1s ease-in;

}

.section {
    background: rgba(255, 255, 255, 0);
    display: flex;
    margin: 2px -3px 2px -3px;
}

.articulos {
    background: #b4b4b0;
    width: 90%;
    display: flex;
    flex-flow: row wrap;
}

.article {
    background: #e6e6e7;
    flex: 1 1 40%;
    margin: 10px 5px 0px 5px;
    column-count: 2;
}

.article img {
    width: 99%;
}

h3 {
    column-span: all;
    color: #fdba00;
    margin-top: -30px;
    margin-bottom: 10px;
}

h2 {
    column-span: all;
    color: white;
    background-color: #ca134a;
    padding: 10px 2px 0;
    margin-bottom: 12px;
}

img {
    display: block;
    column-span: all
}

.article p {
    text-align: left;
    color: #2b2825
}

.article a {
    display: block;
    column-span: all;
    margin-top: 20px;
    color: #5e5b52;
}

.article a:hover {
    color: #aa0707;
}

.navegacion {
    background: #b4b4b0;
    flex: 1 1 100%;
    text-align: center;
}

.navegacion p {
    color: black;
}

.aside {
    background: #b4b4b0;
    margin: 0px 0px 0px 5px;
    width: 20%;

}

h4 {
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 15px;
}

.aside p {
    text-align: center;
    font-size: 14px;
}

.publicidad {
    background: #b4b4b0;
}

.footer {
    background-color: #b4b4b0;
}

.pie {
    text-align: center;
}

.pie p {
    font-size: 12px;
    color: #5a5a58;
    background: #f5f5f2;
    margin-top: -6px;
    margin-bottom: -6px;
}

@media all and (max-width: 1024px) {
    .nav a {
        margin-right: 40px;
    }

    .texto-principal {
        margin-block-start: -30px;

    }

    .section {
        background: #FFFFFF;
        display: flex;
        flex-direction: column;
        padding-right: 8px;
    }

    .articulos {
        width: 100%;
    }

    .aside {
        width: 100%;
        margin: 5px 0px 0px 0px;
    }

    h4 {
        margin-top: -1px;
        margin-bottom: 4px;
        text-align: center;
        font-size: 18px;
    }

    .aside p {
        text-align: center;
        font-size: 15px;
    }
}

@keyframes moverIzquierda {
    0% {
        opacity: 0;
        transform: translate3d(-20px);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }

}
@keyframes moverDerecha {
    0% {
        opacity: 0;
        transform: translate3d(20px);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }

}
@keyframes aparecer {
    0% {
        opacity: 0;
        transform: translateZ(100px)
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }

}
@media all and (max-width: 833px) {
    .nav a {
        margin: 0px 30px 0px 0px
    }
}
@media all and (max-width: 782px) {
    .nav a {
        margin: 0px 20px 0px 0px
    }
}

@media all and (max-width: 768px) {
    .nav a {
        margin: 0px 30px 0px 0px
    }

    .social {
        margin: 0px 0px 0px -30px
    }

    .menu {
        flex-direction: block;
    }

    .articulos {
        flex-direction: column;
    }

    .section {
        background: #FFFFFF;
        flex-direction: column;
    }
}