* {
    margin: 0px;
    padding: 3px;
    max-width: 1200;
}
body{
    font-family: 'Merriweather', serif;
}
a{
    text-decoration: none;
}
.padre{
    display: flex;
    flex-flow: column nowrap;
}

.header {
    background: url(../images/header.jpg);
    justify-content: center;
    background-position: center;
    background-attachment: contain;
    background-size: cover;
    display: flex;
    flex-flow: column nowrap;
    padding: 5px 1;
}
.header .logo img{
    height: 70px;
    width: auto;
    margin-top: -30px;
}
.header .logo img:hover{
    transform: scale(1.1);
}
.menu {
    background: rgba(0,0,0,0);
    display: flex;
    flex-flow: row nowrap;
    height: 100px;
    padding-top: 50px;
    padding-bottom: 60px;
}


.logo {
    flex: 1 1 auto;
}
.nav {
    flex: 1 1 auto; 
}
.nav a{
    color: #5e5b52;
    margin-right: 100px;
}
.nav a:hover{
    color: #aa0707;
}

.social {
    flex: 1 1 auto; 
    display: flex;
}
.social a{
    color: #5e5b52;
}
.social a:hover{
    color: #aa0707;
}

.texto-principal {
    opacity: 0.5;
    margin-inline-start: 100px;
    margin-inline-end: 100px;
    margin-block-start: -10px;
    margin-block-end: -2px;
    background: rgba(173, 172, 172, 0.603);
}

h1 {
font-family: 'Merriweather';
color: #ff9500;
font-size: 25px;
text-align: center;
margin-top: 20px;
margin-bottom: 35px;
}

.section {
    background: #000;
    display: flex;
}

.articulos {
    background: #5e5b52;
    flex: 2 1 auto;
    display: flex;
    flex-flow: row wrap;
}

.article {
    background: #003566;
    flex: 1 1 40%;
}

.navegacion {
    background: #99d6ea;
    flex: 1 1 100%;
}
.aside{
    background: #fc7a57;
    flex: 1 1 auto;
}
.publicidad{
    background: #ffda3d;
}
.footer {
    background: #000;
}
.pie{
    background: #fdc500;
}
@media all and (max-width: 1024px){
    .section{
        background: #FFF80A;
        flex-direction: column;
    }
}
@media all and (max-width: 768px){
    .menu{
        flex-direction: column;
    }
    .articulos{
        flex-direction: column;
    }
    .section{
        background: #FFF80A;
        flex-direction: column;
    }
}