* {
    margin: 10px;
    padding: 10px;
    max-width: 1200;
}

.padre{
    display: flex;
    flex-flow: column nowrap;
}

.header {
    background: #000;
    display: flex;
    flex-flow: column nowrap;
}

.menu {
    background: #293462;
    display: flex;
    flex-flow: row nowrap;
}

.logo {
    background: #D61C4E;
    flex: 1 1 auto; 
}

.nav {
    background: #D61C4E;
    flex: 5 1 auto; 

}

.social {
    background: #D61C4E;
    flex: 1 1 auto; 

}

.texto-principal {
    background: #FEB139;
}

h1 {
    background: #ffd500;
}

.section {
    background: #000;
    display: flex;
}

.articulos {
    background: #5e5b52;
    flex: 2 1 auto;
    display: flex;
    flex-flow: row wrap;
}

.article {
    background: #003566;
    flex: 1 1 40%;
}

.navegacion {
    background: #99d6ea;
    flex: 1 1 100%;
}
.aside{
    background: #fc7a57;
    flex: 1 1 auto;
}
.publicidad{
    background: #ffda3d;
}
.footer {
    background: #000;
}
.pie{
    background: #fdc500;
}
@media all and (max-width: 1024px){
    .section{
        background: #FFF80A;
        flex-direction: column;
    }
}